{{ include('FuentesWorksNickelTrackerBundle:Layout:header.html.twig') }}
{{ include('FuentesWorksNickelTrackerBundle:Layout:sidebar.html.twig', {'active': 'dashboard', 'accounts': accounts, 'categories': categories}) }}

<!-- start: content -->
<div class="col-sm-9 col-sm-offset-3 main">
    <h1 class="page-header">Dashboard</h1>

    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
            <h4>${{ dashboard.expense|number_format(0, '.', ',') }}</h4>
            <span class="text-muted">Monthly Expense</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <h4>${{ dashboard.income|number_format(0, '.', ',') }}</h4>
            <span class="text-muted">Monthly Income</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <h4>${{ dashboard.cash|number_format(0, '.', ',') }}</h4>
            <span class="text-muted">Cash</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <h4>${{ dashboard.bank|number_format(0, '.', ',') }}</h4>
            <span class="text-muted">Debit</span>
        </div>
    </div>

    <h3>Budget <small>max ${{ dashboard.budget|number_format(0, '.', ',') }}</small></h3>
    <div class="bs-component">
        <div class="progress progress-striped">
            {% if dashboard.budget > 0 %}
                {% set budgetpp = (dashboard.expense*100/dashboard.budget) %}
                {% if budgetpp > 100 %}
                    <div class="progress-bar progress-bar-danger" style="width: 100%;">OVERSPENT</div>
                {% else %}
                    <div class="progress-bar" style="width: {{ budgetpp|number_format(1, '.', ',') }}%;"></div>
                {% endif %}
            {% else %}
                <div class="progress-bar" style="width: 0;"></div>
            {% endif %}
        </div>
    </div>


    <h3 class="sub-header">Recent Transactions</h3>

    {% if transactions %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Description</th>
                <th>Account</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in recent %}
            <tr>
                <td>{{ transaction.date|date('Y-M-d') }}</td>
                <td>
                    {% if transaction.getType() == 'I' %}
                        <span class="glyphicon glyphicon-plus"></span>
                    {% elseif transaction.getType() == 'E' %}
                        <span class="glyphicon glyphicon-minus"></span>
                    {% elseif transaction.getType() == 'T' %}
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    {% endif %}
                </td>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.getAccountName() }}</td>
                <td>${{ transaction.amount|number_format(0, '.', ',') }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <p class="text-center">showing the latest 20 transactions</p>
    {% else %}
    <p class="text-center">no transactions found</p>
    {% endif %}
</div>
<!-- end: content -->

{{ include('FuentesWorksNickelTrackerBundle:Layout:footer.html.twig') }}