{{ include('FuentesWorksNickelTrackerBundle:Layout:header.html.twig') }}
{{ include('FuentesWorksNickelTrackerBundle:Layout:sidebar.html.twig', {'active': 'transactions'}) }}

<!-- start: content -->
<div class="col-xs-12 col-sm-9">
    <h1 class="page-header">Transactions</h1>

    <!-- start: top panels -->
    <div class="row">
        <div class="col-md-12">
            <!-- start: collapsible -->
            <div class="panel-group" id="accordion">
                <!-- start: filters -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-filters"><strong>Filters</strong></a>
                    </div>
                    <div id="collapse-filters" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form class="form-horizontal" role="form" action="{{ path('fuentesworks_nickeltracker_transaction_filter') }}"
                                  method="post">
                                <div class="form-group">
                                    <div class="col-lg-3">
                                        <select class="form-control" name="accountId">
                                            <option value="0" selected="selected"
                                                    {% if params is defined and params.accountId == 0 %}selected="selected"{% endif %}
                                                    >-- Account --
                                            </option>
                                            {% for account in accounts %}
                                                <option value="{{ account.accountId }}"
                                                        {% if params is defined and params.accountId == account.accountId %}selected="selected"{% endif %}
                                                        >{{ account.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <select class="form-control" name="categoryId">
                                            <option value="0" selected="selected"
                                                    {% if params is defined and params.categoryId == 0 %}selected="selected"{% endif %}
                                                    >-- Category --
                                            </option>
                                            {% for category in categories %}
                                                <option value="{{ category.categoryId }}"
                                                        {% if params is defined and params.categoryId == category.categoryId %}selected="selected"{% endif %}
                                                        >{{ category.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="input-group date" id="form_datetime_from" data-date-format="yyyy-mm-dd">
                                            <input class="form-control" id="fromDate" name="fromDate" size="16" type="text"
                                                    {% if params is defined and params.fromDate is defined and params.fromDate %}
                                                        value="{{ params.fromDate|date('Y-m-d') }}"
                                                    {% else %}
                                                        value=""
                                                    {% endif %}
                                                   placeholder="-- From --" readonly />
                                            <span class="input-group-addon"><span
                                                        class="glyphicon glyphicon-remove"></span></span>
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="input-group date" id="form_datetime_to" data-date-format="yyyy-mm-dd">
                                            <input class="form-control" id="toDate" name="toDate" size="16" type="text"
                                                    {% if params is defined and params.toDate %}
                                                        value="{{ params.toDate|date('Y-m-d') }}"
                                                    {% else %}
                                                        value=""
                                                    {% endif %}
                                                   placeholder="-- To --" readonly />
                                            <span class="input-group-addon"><span
                                                        class="glyphicon glyphicon-remove"></span></span>
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                        </div>
                                    </div>
                                    </div>
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <button type="submit" class="btn btn-default btn-block">Filter</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- end: filters -->
                <!-- start: filters -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-filters"><strong>Filters</strong></a>
                    </div>
                    <div id="collapse-filters" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form class="form-horizontal" role="form" action="{{ path('fuentesworks_nickeltracker_transaction_search') }}"
                                  method="post">
                                <div class="form-group">
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                                            <input type="text" class="form-control" placeholder="Enter search keywords.." name="search">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <button type="submit" class="btn btn-default btn-block">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- end: filters -->
            </div>
            <!-- end: collapsible -->
        </div>
    </div>
    <!-- end: top panels -->

    {% if msg is defined %}
        <div class="alert alert-dismissable alert-{{ msg.type }}">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ msg.text|raw }}
        </div>
    {% endif %}

    <!-- start: transaction list -->
    <h3>Transactions</h3>
    {% if transactions %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Account</th>
                    <th>Amount</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.date|date('Y-M-d') }}</td>
                    <td>
                        {% if transaction.getType() == 'I' %}
                            <span class="glyphicon glyphicon-plus"></span> Income
                        {% elseif transaction.getType() == 'E' %}
                            <span class="glyphicon glyphicon-minus"></span> Expense
                        {% elseif transaction.getType() == 'T' %}
                            <span class="glyphicon glyphicon-arrow-right"></span> Transfer
                        {% endif %}
                    </td>
                    <td>
                        {% if not transaction.getCategoryId() %}
                            N/A
                        {% else %}
                            {{ transaction.getCategoryId().getName() }}
                        {% endif %}
                    </td>
                    <td>{{ transaction.description }}</td>
                    <td>{{ transaction.getAccountName() }}</td>
                    <td>${{ transaction.amount|number_format(0, '.', ',') }}</td>
                    <td>
                        <a href="{{ path('fuentesworks_nickeltracker_transaction_view', {'gid': transaction.getGlobalId()}) }}"
                           class="btn btn-default btn-xs" role="button">
                            <span class="glyphicon glyphicon-list"></span> Details
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <p class="text-center">showing the latest 50 transactions</p>
    {% else %}
        <p><strong>Woah!</strong> No transactions found.</p>
    {% endif %}
    <!-- end: transaction list -->

</div>
<!-- end: content -->

{{ include('FuentesWorksNickelTrackerBundle:Layout:footer.html.twig') }}