{{ include('FuentesWorksNickelTrackerBundle:Layout:header.html.twig') }}
{{ include('FuentesWorksNickelTrackerBundle:Layout:sidebar.html.twig', {'active': 'transactions'}) }}

<!-- start: content -->
<div class="col-sm-9 col-sm-offset-3 main">
    <h1 class="sub-header">Transactions</h1>

    <!-- start: filters -->

    <!-- end: filters -->

    {% if msg is defined %}
    <div class="alert alert-dismissable alert-{{ msg.type }}">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ msg.text|raw }}
    </div>
    {% endif %}

    <!-- start: transaction list -->
    {% if transactions %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Account</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.date|date('Y-M-d') }}</td>
                    <td>
                        {% if transaction.getType() == 'I' %}
                            <span class="glyphicon glyphicon-plus"></span> Income
                        {% elseif transaction.getType() == 'E' %}
                            <span class="glyphicon glyphicon-minus"></span> Expense
                        {% elseif transaction.getType() == 'T' %}
                            <span class="glyphicon glyphicon-arrow-right"></span> Transfer
                        {% endif %}
                    </td>
                    <td>{{ transaction.getAccountName() }}</td>
                    <td>{{ transaction.description }}</td>
                    <td>${{ transaction.amount|number_format(0, '.', ',') }}</td>
                    <td>
                        <form action="{{ path('fuentesworks_nickeltracker_transaction_delete') }}" method="post">
                            <div class="form-group">
                                <input type="hidden" name="globalId" value="{{ transaction.getGlobalId() }}" />
                                <button type="submit" class="btn btn-danger btn-xs"
                                        onclick="return confirm('Are you sure you want to delete the transaction \'{{ transaction.getGlobalId() }}\'?')">
                                        <span class="glyphicon glyphicon-remove"></span> Delete</button>
                            </div>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <p class="text-center">showing the latest 50 transactions</p>
    {% else %}
        <p class="text-center">no transactions found</p>
    {% endif %}
    <!-- end: transaction list -->
</div>
<!-- end: content -->

{{ include('FuentesWorksNickelTrackerBundle:Layout:footer.html.twig') }}