{{ include('FuentesWorksNickelTrackerBundle:Layout:header.html.twig') }}
{{ include('FuentesWorksNickelTrackerBundle:Layout:sidebar.html.twig', {'active': 'transactions'}) }}

<!-- start: content -->
<div class="col-sm-9 col-sm-offset-3 main">
    <h1 class="sub-header">Transactions</h1>

    <!-- start: filters -->

    <!-- end: filters -->

    {% if msg is defined %}
    <div class="alert alert-dismissable alert-{{ msg.type }}">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ msg.text|raw }}
    </div>
    {% endif %}

    <!-- start: transaction list -->
    {% if transactions %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Account</th>
                    <th>Amount</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.date|date('Y-M-d') }}</td>
                    <td>
                        {% if transaction.getType() == 'I' %}
                            Income
                        {% elseif transaction.getType() == 'E' %}
                            Expense
                        {% elseif transaction.getType() == 'T' %}
                            Transfer
                        {% endif %}
                    </td>
                    <td>
                        {% if not transaction.getCategoryId() %}
                            N/A
                        {% else %}
                            {{ transaction.getCategoryId().getName() }}
                        {% endif %}
                    </td>
                    <td>{{ transaction.description }}</td>
                    <td>{{ transaction.getAccountName() }}</td>
                    <td>${{ transaction.amount|number_format(0, '.', ',') }}</td>
                    <td>
                        <a href="{{ path('fuentesworks_nickeltracker_transaction_view', {'gid': transaction.getGlobalId()}) }}"
                           class="btn btn-default btn-xs" role="button">
                            <span class="glyphicon glyphicon-list"></span> Details
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <p class="text-center">showing the latest 50 transactions</p>
    {% else %}
        <p class="text-center">no transactions found</p>
    {% endif %}
    <!-- end: transaction list -->
</div>
<!-- end: content -->

{{ include('FuentesWorksNickelTrackerBundle:Layout:footer.html.twig') }}