{{ include('FuentesWorksNickelTrackerBundle:Layout:header.html.twig') }}
{{ include('FuentesWorksNickelTrackerBundle:Layout:sidebar.html.twig', {'active': 'accounts'}) }}

<!-- start: content -->
<div class="col-sm-9 col-sm-offset-3 main">
    <h1 class="sub-header">Accounts</h1>

    {% if msg is defined %}
        <div class="alert alert-dismissable alert-{{ msg.type }}">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ msg.text|raw }}
        </div>
    {% endif %}

    <!-- start: accounts list -->
    {% if accounts %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Balance</th>
                </tr>
                </thead>
                <tbody>
                {% for account in accounts %}
                <tr>
                    <td>{{ account.getTypeName()|capitalize }}</td>
                    <td><a href="{{ path('fuentesworks_nickeltracker_account_view', {'id': account.accountId}) }}">
                        {{ account.name }}</a></td>
                    <td>${{ account.balance|number_format(0, '.', ',') }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="text-center">no accounts found</p>
    {% endif %}
    <!-- end: account list -->
    <hr>
    <form action="{{ path('fuentesworks_nickeltracker_account_new') }}" method="get">
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Create New Account</button>
        </div>
    </form>
    <hr>
    <form action="{{ path('fuentesworks_nickeltracker_account_recalculate_balances') }}" method="post">
        <div class="form-group">
            <button type="submit" class="btn btn-info btn-block"
                    onclick="changeButtonText('recalculate-text','Recalculating..');">
                <span id="recalculate-text">Recalculate Balances</span>
            </button>
        </div>
    </form>
</div>
<!-- end: content -->

{{ include('FuentesWorksNickelTrackerBundle:Layout:footer.html.twig') }}