{{ include('FuentesWorksNickelTrackerBundle:Layout:header.html.twig') }}
{{ include('FuentesWorksNickelTrackerBundle:Layout:sidebar.html.twig', {'active': 'accounts'}) }}

<!-- start: content -->
<div class="col-xs-12 col-sm-9">
    <h1 class="page-header">Accounts</h1>

    {% if msg is defined %}
        <div class="alert alert-dismissable alert-{{ msg.type }}">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ msg.text|raw }}
        </div>
    {% endif %}

    <!-- start: accounts list -->
    {% if accounts %}
        {% if totals is defined %}
        <div class="panel panel-default">
            {#<div class="panel-heading"><strong>Totals</strong> <span class="pull-right">${{ total|number_format(0) }}</span></div>#}
            <div class="panel-body">
                <div class="col-sm-3"><strong>Cash:</strong> ${{ totals['M']|number_format(0) }}</div>
                <div class="col-sm-3"><strong>Debit:</strong> ${{ totals['D']|number_format(0) }}</div>
                <div class="col-sm-3"><strong>Credit:</strong> ${{ totals['C']|number_format(0) }}</div>
                <div class="col-sm-3"><strong>Savings:</strong> ${{ totals['S']|number_format(0) }}</div>
            </div>
        </div>
        {% endif %}

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Balance</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for account in accounts %}
                <tr>
                    <td>{{ account.getTypeName()|capitalize }}</td>
                    <td><a href="{{ path('fuentesworks_nickeltracker_account_view', {'id': account.accountId}) }}">
                        {{ account.name }}</a></td>
                    <td>${{ account.balance|number_format(0, '.', ',') }}
                    {% if account.type == 'C' %} / ${{ (account.creditLimit + account.balance)|number_format(0, '.', ',') }} avail.{% endif %}</td>
                    <td>
                        <form method="post" class="form-horizontal" role="form" action="{{ path('fuentesworks_nickeltracker_transaction_filter') }}">
                            <button type="submit" class="btn btn-default btn-xs" role="button">
                                <span class="glyphicon glyphicon-share-alt"></span> Transactions
                            </button>
                            <input type="hidden" name="accountId" value="{{ account.accountId }}" />
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="text-center">no accounts found</p>
    {% endif %}
    <!-- end: account list -->
    <hr>
    <form action="{{ path('fuentesworks_nickeltracker_account_new') }}" method="get">
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Create New Account</button>
        </div>
    </form>
    <hr>
    <form action="{{ path('fuentesworks_nickeltracker_account_recalculate_balances') }}" method="post">
        <div class="form-group">
            <button type="submit" class="btn btn-info btn-block"
                    onclick="changeButtonText('recalculate-text','Recalculating..');">
                <span id="recalculate-text">Recalculate Balances</span>
            </button>
        </div>
    </form>
</div>
<!-- end: content -->

{{ include('FuentesWorksNickelTrackerBundle:Layout:footer.html.twig') }}