<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="description" content="NickelTracker">
    <meta name="author" content="Edmundo Fuentes">
    <meta name="apple-mobile-web-app-title" content="NickelTracker">
    <link rel="shortcut icon" href="{{ asset('bundles/fuentesworksnickeltracker/img/NickelTracker-favico.png') }}">
    <link rel="apple-touch-icon" href="{{ asset('bundles/fuentesworksnickeltracker/img/NickelTracker-iphone.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/fuentesworksnickeltracker/img/NickelTracker-iphone-retina.png') }}">
    <link rel="apple-touch-startup-image" href="{{ asset('bundles/fuentesworksnickeltracker/img/NickelTracker-background-iphone5.png') }}" media="(device-height:568px)">

    <title>NickelTracker</title>

    <!-- Bootstrap core CSS + Theme -->
    <link href="{{ asset('bundles/fuentesworksnickeltracker/css/bootstrap-3.1.1.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/fuentesworksnickeltracker/css/offcanvas.css') }}" rel="stylesheet">
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle navbar-button" data-toggle="offcanvas"><a href="#" class="navbar-link"><span class="glyphicon glyphicon-list"></span></a></button>
            <a href="{{ path('fuentesworks_nickeltracker_dashboard') }}" class="navbar-brand"><strong>NickelTracker</strong></a>
        </div>
    </div>
</div>

<!-- start: container -->
<div id="main-body" class="container">
    <div class="row row-offcanvas row-offcanvas-left">