<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation" style="padding-top: 40px;">
    <!-- start: sidebar menu -->
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Menu</strong></div>
        <div class="list-group">
            <a class="list-group-item{% if active == 'dashboard' %} active{% endif %}"
                href="{{ path('fuentesworks_nickeltracker_dashboard') }}">Dashboard</a>
            <a class="list-group-item{% if active == 'accounts' %} active{% endif %}"
                href="{{ path('fuentesworks_nickeltracker_account_list') }}">Accounts</a>
            <a class="list-group-item{% if active == 'categories' %} active{% endif %}"
                href="{{ path('fuentesworks_nickeltracker_category_list') }}">Categories</a>
            <a class="list-group-item{% if active == 'transactions' %} active{% endif %}"
                href="{{ path('fuentesworks_nickeltracker_transaction_list') }}">Transactions</a>
        </div>
    </div>
    <!-- end: sidebar menu -->

    <!-- start: sidebar actions -->
    <div class="panel panel-default">
        <div class="list-group">
            <a class="list-group-item" href="{{ path('fuentesworks_nickeltracker_new_income') }}">
                    <span class="glyphicon glyphicon-plus"></span> New Income</a>
            <a class="list-group-item" href="{{ path('fuentesworks_nickeltracker_new_expense') }}">
                    <span class="glyphicon glyphicon-minus"></span> New Expense</a>
            <a class="list-group-item" href="{{ path('fuentesworks_nickeltracker_new_transfer') }}">
                    <span class="glyphicon glyphicon-arrow-right"></span> New Transfer</a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="list-group">
            <a class="list-group-item" href="{{ path('logout') }}">
                    <span class="glyphicon glyphicon-off"></span> Logout</a>
        </div>
    </div>
    <!-- end: sidebar actions -->

    <p class="text-center">
        <small>by <a href="mailto:me@edmundofuentes.com">Edmundo Fuentes</a><br>v2014.24.02</small>
    </p>

</div>