<div class="col-sm-3 sidebar">
    <!-- start: sidebar menu -->
    <ul class="nav nav-sidebar">
        <li {% if active == 'dashboard' %}class="active"{% endif %}>
            <a href="{{ path('fuentesworks_nickeltracker_dashboard') }}">Dashboard</a></li>
        <li {% if active == 'accounts' %}class="active"{% endif %}>
            <a href="{{ path('fuentesworks_nickeltracker_account_list') }}">Accounts</a></li>
        <li {% if active == 'categories' %}class="active"{% endif %}>
            <a href="{{ path('fuentesworks_nickeltracker_category_list') }}">Categories</a></li>
        <li {% if active == 'transactions' %}class="active"{% endif %}>
            <a href="{{ path('fuentesworks_nickeltracker_transaction_list') }}">Transactions</a></li>
    </ul>
    <!-- end: sidebar menu -->

    <div class="panel panel-default">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{{ path('fuentesworks_nickeltracker_new_income') }}">
                    <span class="glyphicon glyphicon-plus"></span> New Income</a>
            </li>
            <li class="list-group-item">
                <a href="{{ path('fuentesworks_nickeltracker_new_expense') }}">
                    <span class="glyphicon glyphicon-minus"></span> New Expense</a>
            </li>
            <li class="list-group-item">
                <a href="{{ path('fuentesworks_nickeltracker_new_transfer') }}">
                    <span class="glyphicon glyphicon-arrow-right"></span> New Transfer</a>
            </li>
        </ul>
    </div>

    {# OLD METHOD: Accordion Panels.. sweet.
    <!-- start: accordion -->
    <div class="panel-group" id="accordion">
        <!-- start: new income -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-income">
                        <span class="glyphicon glyphicon-plus"></span> New Income</a>
                </h4>
            </div>
            <div id="collapse-income" class="panel-collapse collapse">
                <div class="panel-body">
                    <form class="form-horizontal" role="form"
                          action="{{ path('fuentesworks_nickeltracker_new_income_process') }}"
                          method="post">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <select class="form-control input-sm" name="accountId">
                                    <option value="0" selected>-- Account --</option>
                                    {% for account in accounts %}
                                        <option value="{{ account.accountId }}">{{ account.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <select class="form-control input-sm" name="categoryId">
                                    <option value="0" selected>-- Category --</option>
                                    {% for category in categories %}
                                        <option value="{{ category.categoryId }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <textarea class="form-control input-sm" name="description" rows="2" placeholder="Description"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <input type="number" class="form-control input-sm" name="amount" placeholder="Amount" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <input type="date" class="form-control input-sm" name="date" placeholder="DD/MM/YYYY" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-default btn-block btn-sm">Save!</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end: new income -->
        <!-- start: new income -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-expense">
                        <span class="glyphicon glyphicon-minus"></span> New Expense</a>
                </h4>
            </div>
            <div id="collapse-expense" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Some form goes in here..</p>
                </div>
            </div>
        </div>
        <!-- end: new income -->
        <!-- start: new transfer -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-transfer">
                        <span class="glyphicon glyphicon-arrow-right"></span> New Transfer</a>
                </h4>
            </div>
            <div id="collapse-transfer" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Some form goes in here..</p>
                </div>
            </div>
        </div>
        <!-- end: new transfer -->
    </div>
    <!-- end: accordion -->
    #}

    <p class="text-center">
        <small>by <a href="mailto:me@edmundofuentes.com">Edmundo Fuentes</a><br>v2014.16.01</small>
    </p>

</div>