<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
    <!-- start: sidebar menu -->
    <ul class="nav nav-sidebar">
        <li {% if active == 'dashboard' %}class="active"{% endif %}>
            <a href="{{ path('fuentesworks_nickeltracker_dashboard') }}">Dashboard</a></li>
        <li {% if active == 'accounts' %}class="active"{% endif %}>
            <a href="{{ path('fuentesworks_nickeltracker_account_list') }}">Accounts</a></li>
        <li {% if active == 'categories' %}class="active"{% endif %}>
            <a href="{{ path('fuentesworks_nickeltracker_category_list') }}">Categories</a></li>
        <li {% if active == 'transactions' %}class="active"{% endif %}>
            <a href="{{ path('fuentesworks_nickeltracker_transaction_list') }}">Transactions</a></li>
    </ul>
    <!-- end: sidebar menu -->

    <!-- start: sidebar actions -->
    <div class="panel panel-default">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{{ path('fuentesworks_nickeltracker_new_income') }}">
                    <span class="glyphicon glyphicon-plus"></span> New Income</a>
            </li>
            <li class="list-group-item">
                <a href="{{ path('fuentesworks_nickeltracker_new_expense') }}">
                    <span class="glyphicon glyphicon-minus"></span> New Expense</a>
            </li>
            <li class="list-group-item">
                <a href="{{ path('fuentesworks_nickeltracker_new_transfer') }}">
                    <span class="glyphicon glyphicon-arrow-right"></span> New Transfer</a>
            </li>
        </ul>
    </div>

    <div class="panel panel-default">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{{ path('logout') }}">
                    <span class="glyphicon glyphicon-off"></span> Logout</a>
            </li>
        </ul>
    </div>

    <!-- end: sidebar actions -->

    <p class="text-center">
        <small>by <a href="mailto:me@edmundofuentes.com">Edmundo Fuentes</a><br>v2014.20.01</small>
    </p>

</div>