{{ include('FuentesWorksNickelTrackerBundle:Layout:header.html.twig') }}
{{ include('FuentesWorksNickelTrackerBundle:Layout:sidebar.html.twig', {'active': 'categories'}) }}

<!-- start: content -->
<div class="col-sm-9 col-sm-offset-3 main">
    <h1 class="sub-header">Category: {{ category.name }}</h1>

    {% if msg is defined %}
        <div class="alert alert-dismissable alert-{{ msg.type }}">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ msg.text|raw }}
        </div>
    {% endif %}

    <form class="form-horizontal" role="form"
            {% if mode == 'new' %}  action="{{ path('fuentesworks_nickeltracker_category_new_process') }}"
            {% elseif mode == 'edit' %} action="{{ path('fuentesworks_nickeltracker_category_edit_process') }}"
            {% endif %}
          method="post">

        <div class="form-group">
            <label for="name" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-6">
                {% if mode == 'new' or mode == 'edit' %}
                    <input type="text" class="form-control" id="name" name="name" placeholder="name"
                           value="{{ category.name }}" required>
                {% else %}
                    <p class="form-control-static">{{ category.name }}</p>
                {% endif %}
            </div>
            <div class="col-lg-4">
                <p class="form-control-static">
                    <small>Category name (human-readable).</small>
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="budget" class="col-lg-2 control-label">Budget</label>
            <div class="col-lg-6">
                {% if mode == 'new' or mode == 'edit' %}
                    <input type="number" class="form-control" id="budget" name="budget" placeholder="budget"
                           value="{{ category.budget }}" required>
                {% else %}
                    <p class="form-control-static">{{ category.budget }}</p>
                {% endif %}
            </div>
            <div class="col-lg-4">
                <p class="form-control-static">
                    <small>Monthly allowed budget.</small>
                </p>
            </div>
        </div>

        {% if mode == 'new' or mode == 'edit' %}
        <div class="form-group">
            <input type="hidden" name="categoryId" value="{{ category.categoryId }}" />
            <button type="submit" class="btn btn-primary btn-block">Save</button>
        </div>
        {% endif %}
    </form>

    <hr>

    {% if mode == 'view' %}
        <a href="{{ path('fuentesworks_nickeltracker_category_edit', {'id': category.categoryId}) }}"
           class="btn btn-info btn-block">Edit</a>
    {% endif %}

    {% if mode == 'edit' %}
    <form action="{{ path('fuentesworks_nickeltracker_category_delete') }}" method="post">
        <div class="form-group">
            <input type="hidden" name="categoryId" value="{{ category.categoryId }}" />
            <button type="submit" class="btn btn-danger btn-block"
               onclick="return confirm('Are you sure you want to delete the category \'{{ category.name }}\'?')">
                Delete</button>
        </div>
    </form>
    {% endif %}
</div>
<!-- end: content -->

{{ include('FuentesWorksNickelTrackerBundle:Layout:footer.html.twig') }}